version: '3.2'

services:

  particle-relay-hub-handler:
    image: dakl/particle-relay-hub-handler:latest
    secrets:
       - relay_hub_device_id
       - lego_house_device_id
       - particle_access_token
    environment:
        - TOPIC_NAME=relay

  lego-house-lights-handler:
    image: dakl/particle-relay-hub-handler:latest
    secrets:
       - relay_hub_device_id
       - lego_house_device_id
       - particle_access_token
    environment:
        - TOPIC_NAME=lego

  tv-backlight-handler:
    image: dakl/tv-backlight-handler:latest
    secrets:
       - tv_backlight_device_id
       - particle_access_token

secrets:
  tv_backlight_device_id:
    external: true
  lego_house_device_id:
    external: true
  relay_hub_device_id:
    external: true
  particle_access_token:
    external: true
